.job{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.job-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}

.jobs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width:500px){
    .dropdown{
        margin: 20px 0px;
    }
    .job-heading{
        font-size: 20px;
        margin-bottom: 30px;
    }
}



